:root {
  --background-color: #9e7777;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #6f4c5b;
}

body {
  margin: auto;
}

img.main-picture {
  object-fit: cover;
  border-radius: 10px !important;
  transform: rotate(-4deg);
}

h1,
h3 {
  text-align: center;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 60px;
  margin: 0px;
}

h2 {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-size: 48px;
  margin: 0px;
  text-align: center;
}

h2.intro {
  text-align: start;
}

h3 {
  color: var(--secondary-color);
  font-size: 25px;
  margin: 0px;
  opacity: 0.9;
  font-family: var(--default-font-family);
}

h3.project-title {
  color: black;
  text-align: start;
}

h3.about-me-header {
  margin: 40px auto;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.hero {
  background-color: var(--background-color);
  padding: 300px 0px;
  text-align: center;
}

.hero h3 {
  color: #deba9d;
}

.top-container {
  padding-top: 150px;
  padding-bottom: 80px;
}

.about-paragraph p {
  border-radius: 5px;
  font-size: 18px;
  font-family: var(--default-font-family);
  padding: 20px;
  text-align: center;
}

.hobbies-container {
  margin-top: 30px;
  text-align: center;
}

.copyright {
  text-align: center;
  margin-bottom: 0;
}

.signature {
  font-family: "Send Flowers", cursive;
}

.about-paragraph {
  display: flex;
  margin: 30px 0;
  text-align: center;
}

.about-link {
  color: #6f4c5b;
  font-weight: bold;
}

.about-link:hover {
  color: #9e7777;
}

.hobbies-link {
  color: #6f4c5b;
  font-weight: bolder;
}

.hobbies-link:hover {
  color: #6f4c5b;
  text-decoration: underline;
}

.profile-pic {
  display: block;
  height: auto;
  margin: auto;
  width: 245px;
}

.profile-pic-round {
  display: block;
  margin: auto;
}

.skills {
  margin-bottom: 50px;
}

.skills-img {
  width: 45px;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
}

.project-title {
  padding: 25px 0;
}

.flyfishing-img {
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
}

.btn-branding {
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.weatherapp-img {
  width: 450px;
  height: auto;
  display: flex;
  align-items: center;
}

.bottom-container {
  background-color: var(--background-color);
  margin-bottom: 0;
  padding: 20px 0 10px;
  text-align: center;
}

.heading-section-contact {
  color: #deba9d;
}

.email-icon,
.cellphone-icon,
.linkedin-icon,
.github-icon {
  color: #deba9d;
}

.email-icon:hover,
.cellphone-icon:hover,
.linkedin-icon:hover,
.github-icon:hover {
  color: #6f4c5b;
}

.linkedin-icon {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }

  h3.project-title {
    text-align: center;
  }

  p,
  h2.intro,
  .signature {
    text-align: center;
  }

  h3.about-me-header {
    font-size: 20px;
  }

  .hero {
    padding: 150px 0;
  }

  .profile-pic {
    height: auto;
    width: 145px;
  }

  .signature {
    font-size: 35px;
  }

  #heading-section-projects,
  #heading-section-skills,
  .heading-section-contact {
    font-size: 35px;
    font-weight: bold;
  }

  #heading-projects-container {
    font-size: 35px;
    font-weight: bold;
  }

  .project-title {
    font-size: 20px;
  }

  .about-me-content,
  .hobbies-container {
    font-size: 14px;
  }

  .flyfishing-img,
  .weatherapp-img {
    display: block;
    margin: 0 auto;
  }
}
